header {
    margin-bottom: 3rem;
}

p{
    line-height:1.6;
}

a.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}

.shows > li > h1{
    font-size: 2.5rem;
}

.shows section h2{
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2{
    font-weight: 300;
}

.cast img{
    width: 100%;
}

.cast > ul > li{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.shows > li {
    border-top: 1px solid black;
    padding-top: 2rem;
    margin-top: 2rem;
}

header nav ul li.selected a{
    font-weight: bold;
    color: black;
}

.cast > ul > li > a > div{
    font-size: 0.8rem;
}

.cast > ul > li > a > div:nth-of-type(1){
    font-weight:bold;
}

.cast > ul > li > a > div:nth-of-type(2){
    font-style:italic;
}

#game-of-thrones .seasons ul li:last-child::after{
    content: "*";
}

#game-of-thrones .seasons::after{
    content: "* Final Season";
    display: block;
    font-size: 0.7rem;
    color: #999;
}
